.title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  letter-spacing: 1.5px;
  @include mobile {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  span {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: 8rem;
    font-weight: 700;
    opacity: 0.07;
    @include mobile {
      font-size: 5rem;
    }
  }
}

.title.about {
  color: $text-light;
  span {
    color: $text-light;
  }
}

.title.portfolios {
  color: $text-dark;
  span {
    color: $text-dark;
  }
}

.title.contact {
  color: $text-light;
  span {
    color: $text-light;
  }
}

.title.blog {
  color: $text-dark;
  span {
    color: $text-dark;
  }
}
